{% extends "tasks/base.html" %}

{% block title %}Task: {{ task.name }}{% endblock %}

{% block content %}

    <script type="text/javascript">
        $(document).ready(function() {
            // Initially hide the TaskEdit form
            $('#TaskEdit').hide();
            // toggle slide to show the Add Task form when link clicked
            $('#slideToggle').click(function(){
                $(this).siblings('#TaskEdit').slideToggle();
            });
        });
    </script>

    {% if auth_ok %}

        <h2>{{ task }}</h2>

        <form action="" method="POST">
            {% csrf_token %}

            <p id="slideToggle" ><strong><a href="#"> &rarr; Click to edit details &larr; </a></strong></p>

            <p>
                <strong>Assigned to:</strong> {% if task.assigned_to %}{{ task.assigned_to.get_full_name }}{% else %}Anyone{% endif %}<br />
                <strong>Created by:</strong> {{ task.created_by.first_name }} {{ task.created_by.last_name }}<br />
                <strong>Due date:</strong>  {{ task.due_date }}<br />
                <strong>Completed:</strong> {{ form.completed }}<br />
            </p>

            {% if task.description %}
                <div class="task_note"><strong>Description:</strong> {{ task.description|safe|urlize|linebreaks }}</div>
            {% endif %}

            <div id="TaskEdit">
                <h3>Edit Task</h3>

                <table>
                    <tr>
                        <td>Title:</td>
                        <td>{{ form.name }}  </td>
                    </tr>

                    <tr>
                        <td>Due:</td>
                        <td>{{ form.due_date }}  </td>
                    </tr>

                    <tr>
                        <td>Assigned to:</td>
                        <td>{{ form.assigned_to }}  </td>
                    </tr>

                    <tr>
                        <td valign="top">Description:</td>
                        <td>{{ form.description }}  </td>
                    </tr>


                </table>
                <p><input type="submit" class="todo-button" name="edit_task" value="Edit task"></p>
            </div>


        </form>

        <a href="{% url 'tasks:task_delete' task.id %}">Delete Task</a> |
    {% endif %}
    <a href="{% url 'tasks:task-lists' %}">Task List</a>
{% endblock %}